<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>
<!--
<ion-content padding>
  <button ion-button color="secondary" (click)="printHello()">Click me!</button>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of filteredSubscribers">
      {{ item.name }}
    </ion-item>
  </ion-list>

  <ion-list inset>
<h3>List for Rahul {{company.name}}</h3>
    <ion-item *ngFor="let subscirber of subscribersCompany">
      <p>{{subscirber.id}}. {{subscirber.name}}</p>
      <button ion-button clear item-end (click)="itemSelected(subscirber)">Edit</button>
    </ion-item>
  </ion-list>
</ion-content>
-->
