<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This is UI test project for Cable App.
  </p>
  <img src="assets/img/card-saopaolo.png"/>

  <ion-list>
    <ion-item *ngFor="let item of companies" (click)="gotoAbout(item)">
      {{ item.id }}. {{ item.name }}
      <button ion-button> ></button>
    </ion-item>
    <ion-item>
      <ion-label>Company</ion-label>
      <ion-select multiple="false" [(ngModel)]="selectedCompany">
        <ion-option *ngFor="let item of companies" value={{item.id}} >{{ item.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Area</ion-label>
      <ion-select okText="Okay" cancelText="Dismiss" multiple="true" [(ngModel)]="selectedAreas">
        <ion-option *ngFor="let item of areasInCompany" value={{item.id}}>{{ item.areaname }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="MMM YY" [(ngModel)]="myDate" item-center></ion-datetime>
    </ion-item>
    <button ion-button (click)="gotoAboutPage()">Collect Payment</button>
  </ion-list>
  <ion-fab right top>
    <button ion-fab color="light"><ion-icon name="funnel"></ion-icon></button>
  </ion-fab>
</ion-content>

<!--
<ion-content class="card-background-page">

      <ion-card>
        <img src="../../assets/img/card-saopaolo.png" />
        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
      </ion-card>
    </ion-content> -->
